/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 22, 2024, 8:10:24 AM
    Author     : ASUS
*/

/* Tổng thể trang */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* Container chính */
.container {
    text-align: center;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 600px;
}

/* Tiêu đề */
h1 {
    font-size: 2em;
    color: #4CAF50;
    margin-bottom: 50px;
}

/* Container chứa các nút */
.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}



/* Định dạng nút */
.button {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

/* Responsive cho màn hình nhỏ */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 30px;
    }
    
    .button {
        padding: 12px 20px;
        font-size: 1em;
    }
}
